*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Samim', sans-serif;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}



/* ----- header starts --------*/
header{
    background: linear-gradient(rgba(13,70,83,0.78),rgba(13,70,83,0.78)),url("../img/bg-banner.jpg") center center/cover;
    height: 600px;
}
/*----------- navbar -----------*/
.header-top{
    position: fixed;
    top: 0;
    background:rgba(13,70,83,0.78);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 100000;
}
.header__icon{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    order: 1;
    width:70px;
}
.navbar-logo .logo{
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item{
    font-size: 1rem;
    font-weight: 300;
    padding-left: 30px;
    transition: all 0.3s;
}
.menu-link{
    color: #fff;
    padding-bottom: 2px;
    transition: all 0.6s;
}
.menu-item:hover .menu-link{
    border-bottom: 1px solid #f1da09;
}

/*----------- header bottom -----------*/
.header-bottom{
    text-align: center;
    padding-top: 150px;
    color: #fff;
}
.header-img{

}
.header-title{
    font-size: 2rem;
    padding-bottom: 10px;
}
.header-txt{
    font-size: 1rem;
    padding-bottom: 10px;
}
.header-btn{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 15px 20px;
    color: #fff;
    background-color:rgba(12,184,182,0.91);
    border-radius: 5px;
    transition: all 0.3s;
}
.header-btn:hover{
    color:rgba(12,184,182,0.91);
    background-color: #fff;
}
/* ----- header Ended --------*/

/* ----- main starts --------*/

/* ----- Services--------*/
.services{
    margin-top: 40px;
}
.service-wrapper{
    display: grid;
    grid-template-columns: repeat(3,345px);
    grid-template-rows: repeat(2,233px);
    gap: 30px;
}
.service-item{

}
.service-item div{
    font-size:  2rem;
    margin-bottom: 1rem;
    color: #0083c8;
}
.service-item__icon{

}
.service-item__title{
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 5px;
}
.service-item__disc{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6c6a6d;
    font-size: .8rem;
    font-weight: 600;
    line-height: 20px;
    text-overflow: ellipsis;
}
.service-item3 .service-item__title{
    border-bottom: 2px solid gold;
}

/* ----- Time Table--------*/
.table{

}
.table-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,250px);
    gap: 1px;
    margin-top: 40px;
}
table,td{
    border:1px solid #000;
    border-collapse: collapse;
}
td{
    color: #fff;
    border: 0px solid #ededed;
    border-top: 1px solid rgba(216,216,216,0.6);
    padding: 2px 50px 2px 45px;
}
.table-item{
    background-color: #0cb8b6;
    padding: 0 10px 10px 10px;
    text-align: right;
}
.table-title{
    margin-top: 20px;
    color: #fff;
    padding: 30px 0 10px 10px;
    font-size: 1.3rem;
}
.table-disc{
    margin-top: 15px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 25px;
}
.table-more{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px;
    display: inline-block;
    margin-top: 35px;
    font-size: 12px;
}

/* ----- Text Box--------*/

.text-box{
    margin-top: 40px;
}
.text-box__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.text-item{
    position: relative;
    max-width: 85%;
}
.text-item__title{
    margin-bottom: 8px;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 2px solid gold;
}
.text-item__icon{
    width: 35px;
    height: 35px;
    padding: 9px;
    background-color: #0cb8b6;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 20px;
}
.text-item__disc{
    color: #6c6a6d;
    text-align: justify;
    line-height: 25px;
}  

/* ----- ABout--------*/
.about{
    margin-top: 40px;
    padding-bottom: 40px;
}
.about-title{
    padding-bottom: 10px;
    border-bottom: 2px solid gold;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-item{
    border: 1px solid #9999;
    width: 262px;
    height: 400px;
}
.about-item__img{
    width: 257px;
    padding: 5px;
}
.about-item__title{
    padding: 10px;
}
.about-item__disc{
    padding: 10px;
    font-weight: bold;
}
.about-item__social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-item__social i{
    margin-left: 10px;
    font-size: 1.2rem;
    color: #0083c8;
    transition: all 0.3s;
}
.about-item__social i:hover{
    opacity: 0.8;
}

/* ----- Testimonials--------*/

.testimonial{
    background-color: #eeeeee;
    padding-top: 40px;
    padding-bottom: 40px;
}
.testimonial-title{
    padding-bottom: 10px;
    border-bottom: 2px solid gold;
}
.testimonial-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.testimonial-item{

}
.testimonial-txt{
    color: #999999;
    line-height: 25px;
    height: 170px;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.18);

}
.testimonial-trianlge{
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    position: relative;
    bottom:20px;
    right: 300px;
}
.testimonial-info{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.testimonial-info__person{
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.testimonial-info__img{
    position: absolute;
    left: 0px;
    top: 0;
    width: 50px;
}
.testimonial-info__sub{

}

/* ----- Testimonials--------*/

.aboutus{
    background-color: rgb(41,48,46);
    padding-top: 40px;
    padding-bottom: 40px;
}
.aboutus-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aboutus-title{
    font-size: 28px;
    color: #fff;
}
.aboutus-txt{
    width: 390px;
    line-height: 25px;
    color: rgba(231, 228, 228, 0.692);
    text-align: justify;
}

/* ----- contact--------*/

.contact{
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-title{
    padding-bottom: 10px;
    border-bottom: 2px solid gold;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-top: 50px;
    align-items: baseline;
}
.contact-form{

}

.contact-form__title{
    font-size: 25px;
    padding: 10px 0 35px 0;
}
.contact-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #999999;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 80%);
}
.contact-form textarea{
    resize: none;
    margin-bottom: 25px;
    border: 1px solid #999999;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 80%);
}
.contact-form input[type=button]{
    background-color: #0083c8 !important;
    color: #fff;
    max-width: 100px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 80%);
    transition: 0.3s;
}
.contact-form input[type=button]:hover{
    opacity: 0.8;
}
.contact-info{

}
.contact-info__title{
    margin-bottom: 23px;
}
.contact-info address{
    color: #999999;
    font-size: 1rem;
    padding-bottom: 23px;
}
.contact-info address i{
    margin-left: 20px;
}